@charset "windows-1251";
        /* CSS Document */ 
    #sidebar, #content { position: absolute; } 
    #sidebar, #content { overflow: auto; padding: 10px; }

body { position: absolute;background-color: lightblue; background-image:url("./img/deer.jpg") }   /*где мой олень ???*/    
header { position: relative; margin:10%; padding:2%; width: 150%; left: 0%; top: 5%; 
    border-radius: 8px; background-color:rgb(194, 194, 194); font-family: Georgia ; color: black }
main { position: fixed;  width: 50%;height: 30%; margin-top:5%;padding: 0px; 
    left: 5%; top: 15%; background-color: rgb(47, 206, 140); }
p { position: relative; margin: 5%; width: 40% ; height: 50%; font-family: Georgia ;
    border-radius: 8px; background-color: rgb(163, 160, 160) ;color:black}
textarea {position: relative; margin:5%; left:10%; } 