@charset "windows-1251";
        /* CSS Document */ 
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #D4C8DA, #CCEDC5);
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

main {  
    width: 55%;
}

.user-form {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}

.form-elem {
    width: 100%;
    margin-bottom: 5px;
}

.form-title {
    width: 60%;
}

.form-text {
    height: 110px;
}

aside {
    width: 45%;
}